{% extends "base.html" %}
{% block title %}Loggedin{% endblock %}
{% block content %}
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Nunc tincidunt</a></li>
			<li><a href="#tabs-2">Proin dolor</a></li>
			<li><a href="#tabs-3">Aenean lacinia</a></li>
		</ul>
		<div id="tabs-1">
			<table>
			  <thead>
				<tr>
				  <th colspan="7">Timesheets</th>
				</tr>
				<tr>
				  <th>Employee</th>
				  <th>Recorded by</th>
				  <th>Recorded Datetime</th>
				  <th>Clocking Time</th>
				  <th>logging</th>
				  <th>IP Address</th>
				  <th>Comments</th>
				</tr>
			  </thead>
			{% for timesheet in timesheets %}
			  <tbody> 
				<tr>
				  <td>{{ timesheet.employee }}</td>
				  <td>{{ timesheet.recorded_by }}</td>
				  <td>{{ timesheet.recorded_datetime }}</td>
				  <td>{{ timesheet.clocking_time }}</td>
				  <td>{{ timesheet.logging }}</td>
				  <td>{{ timesheet.ip_address }}</td>
				  <td>{{ timesheet.comments }}</td>
				</tr>
			  </tbody>
			{% endfor %}
		</table>
		</div>
		<div id="tabs-2">
			<table>
			  <thead>
				<tr>
				  <th colspan="7">Holiday Requests</th>
				</tr>
				<tr>
				  <th>Employee</th>
				  <th>Recorded by</th>
				  <th>Recorded Datetime</th>
				  <th>Status</th>
				  <th>Date and Time From</th>
				  <th>Date and Time To</th>
				  <th>Comments</th>
				</tr>
			  </thead>
			{% for holiday_request in holiday_requests %}
			  <tbody> 
				<tr>
				  <td>{{ holiday_request.employee }}</td>
				  <td>{{ holiday_request.recorded_by }}</td>
				  <td>{{ holiday_request.recorded_datetime }}</td>
				  <td>{{ holiday_request.status }}</td>
				  <td>{{ holiday_request.date_from }}</td>
				  <td>{{ holiday_request.date_to }}</td>
				  <td>{{ holiday_request.comments }}</td>
				</tr>
			  </tbody>
			{% endfor %}
		</table>
		</div>
		<div id="tabs-3">
			<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
			<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
		</div>
	</div>
{% endblock %}




#///////////////////////////////////////////////////////////////////////
#=================== Original ==========================================
#///////////////////////////////////////////////////////////////////////


{% extends "base.html" %}
{% block title %}Loggedin{% endblock %}
{% block content %}
	<div id="content-loggedin">
		<div id="loggedin">Logged in: {{ full_name }}</div>
		<table>
			  <thead>
				<tr>
				  <th colspan="7">Timesheets</th>
				</tr>
				<tr>
				  <th>Employee</th>
				  <th>Recorded by</th>
				  <th>Recorded Datetime</th>
				  <th>Clocking Time</th>
				  <th>logging</th>
				  <th>IP Address</th>
				  <th>Comments</th>
				</tr>
			  </thead>
			{% for timesheet in timesheets %}
			  <tbody> 
				<tr>
				  <td>{{ timesheet.employee }}</td>
				  <td>{{ timesheet.recorded_by }}</td>
				  <td>{{ timesheet.recorded_datetime }}</td>
				  <td>{{ timesheet.clocking_time }}</td>
				  <td>{{ timesheet.logging }}</td>
				  <td>{{ timesheet.ip_address }}</td>
				  <td>{{ timesheet.comments }}</td>
				</tr>
			  </tbody>
			{% endfor %}
		</table>
		</br></br>
		<table>
			  <thead>
				<tr>
				  <th colspan="7">Holiday Requests</th>
				</tr>
				<tr>
				  <th>Employee</th>
				  <th>Recorded by</th>
				  <th>Recorded Datetime</th>
				  <th>Status</th>
				  <th>Date and Time From</th>
				  <th>Date and Time To</th>
				  <th>Comments</th>
				</tr>
			  </thead>
			{% for holiday_request in holiday_requests %}
			  <tbody> 
				<tr>
				  <td>{{ holiday_request.employee }}</td>
				  <td>{{ holiday_request.recorded_by }}</td>
				  <td>{{ holiday_request.recorded_datetime }}</td>
				  <td>{{ holiday_request.status }}</td>
				  <td>{{ holiday_request.date_from }}</td>
				  <td>{{ holiday_request.date_to }}</td>
				  <td>{{ holiday_request.comments }}</td>
				</tr>
			  </tbody>
			{% endfor %}
		</table>
		</div>
	</div>
{% endblock %}



